body[data-transitioning] #paginationBar, body.ad #paginationBar {
  z-index: 11001;
}

.apps {
}

.apps > div.ad-page { /* Might just want to put !important on height instead */
  height: 100%;
  background-size: cover;
  z-index: 11000;
  display: block; /* Dont lazy load */
  transform: translateX(-1000px); /* Put off screen as start, will move into screen via grid.js */
}

#sponsorBanner {
  height: 82px;
  position: fixed;
  opacity: 0;
  z-index: 1;
}

#sponsorBanner, #summaryContainer > .intro .sponsorBanner {
  background-image: url(images/wiggle-banner-300x250.jpg);
  width: 100%;
  pointer-events: none;
}

#summaryContainer > .intro .sponsorBanner {
  bottom: 0;
  height: 82px;
  left: 0;
  position: absolute;
}

#summaryContainer {
  background-color: #fff;
  height: 100%;
  overflow-y: scroll;
  width: 100%;
}

#summaryContainer > .intro {
  align-items: center;
  background-color: #00a6d6 !important;
  display: flex;
  height: 216px;
  justify-content: center;
  position: relative;
}

#summaryContainer > .intro p {
  font-size: 24px;
}

#summaryContainer > .intro .fetchIcon {
  font-size: 24pt;
  position: absolute;
  right: 10px;
  top: 10px;
}

#summaryContainer > .card {
  height: 105px;
  margin: 20px 10px;
  padding: 9px 10px 11px;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#summaryContainer > .card p {
  font-size: 15px;
  margin: 0 10px;
}

#summaryContainer > .ad {
  background-color: #f6f6f6;
}

#summaryContainer > .offer {
  background-color: #e5f4f9;
}

#summaryContainer > .telenor .summaryImage {
  border-color: #0493c8;
}

#summaryContainer .summaryImage {
  background-size: 100%;
  border: 2px solid #fff;
  height: 104px;
  width: 125px;
}

#summaryContainer .summaryContent {
  width: 130px;
}

#summaryContainer > .card:nth-of-type(odd) .summaryImage {
  float: right;
}

#summaryContainer > .card:nth-of-type(odd) .summaryContent {
  float: right;
}

#summaryContainer > .card:nth-of-type(even) .summaryImage {
  float: left;
}

#summaryContainer > .card:nth-of-type(even) .summaryContent {
  float: left;
}

#summaryContainer > .card * {
  pointer-events: none;
}

#detailsContainer {
  align-items: center;
  background-color: rgba(48,48,48,0.9);
  display: flex;
  height: 100%;
  justify-content: center;
  overflow: hidden;
  position: absolute;
  top: 0px;
  transform: translateY(100%);
  width: 100%;
  z-index: 2;
}

#detailsContainer.active {
  transform: translateY(0);
}

#detailsContainer .card {
  background-color: #fff;
  border: 2px solid #fff;
  height: 86%;
  min-width: 300px;
  position: relative;
  width: 92%
}

#detailsContainer .card .activationButton {
  align-items: center;
  background-color: #0493c8;
  bottom: 0;
  display: flex;
  height: 40px;
  justify-content: center;
  margin: 2%;
  position: absolute;
  width: 96%;
}

#detailsContainer .card .activationButton .buttonText {
  color: #fff;
  font-size: 20px;
}

#detailsContainer .card .closeButton {
  position: absolute;
  top: -1rem;
  right: 1rem;
  z-index: 50;
  height: 2.6rem;
  width: 2.6rem;
  background: url(images/close.png) no-repeat center / 2.6rem;
  transform: scale(1.3);
}

#detailsContainer .card .detailsImage {
  background-size: 100%;
  width: 100%;
}

#detailsContainer .card .content {
  font-size: 18px;
}

#detailsContainer .telenor {
  border-color: #0493c8;
}

