body[data-transitioning] #paginationBar, body.ad #paginationBar {
  z-index: 11001;
}

.apps {
}

.apps > div.ad-page { /* Might just want to put !important on height instead */
  height: 100%;
  background-size: cover;
  z-index: 11000;
  display: block; /* Dont lazy load */
  transform: translateX(-1000px); /* Put off screen as start, will move into screen via grid.js */
}

#summaryContainer {
  background-color: #fff;
  height: 100%;
  overflow-y: auto;
  width: 100%;
}

#summaryContainer > .intro {
  align-items: center;
  background-color: #00a6d6 !important;
  display: flex;
  height: 45%;
  justify-content: center;
}

#summaryContainer > .intro p {
  font-size: 24px;
}

#summaryContainer > .card {
  height: 105px;
  margin: 20px 10px;
  padding: 9px 10px 11px;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#summaryContainer > .card p {
  font-size: 15px;
  margin: 0 10px;
}

#summaryContainer > .ad {
  background-color: #f6f6f6;
}

#summaryContainer > .offer {
  background-color: #e5f4f9;
}

#summaryContainer > .telenor .summaryImage {
  border-color: #0493c8;
}

#summaryContainer .summaryImage {
  background-size: 100%;
  border: 2px solid #fff;
  height: 104px;
  width: 125px;
}

#summaryContainer .summaryContent {
  width: 130px;
}

#summaryContainer > .card:nth-of-type(odd) .summaryImage {
  float: right;
}

#summaryContainer > .card:nth-of-type(odd) .summaryContent {
  float: right;
}

#summaryContainer > .card:nth-of-type(even) .summaryImage {
  float: left;
}

#summaryContainer > .card:nth-of-type(even) .summaryContent {
  float: left;
}

#summaryContainer > .card * {
  pointer-events: none;
}

#detailsContainer {
  background-color: #bbb;
  background-image: url('images/20140411_firefox_assets_001_bgPattern.png');
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0px;
  transform: translateY(100%);
  width: 100%;
  will-change: transform;

  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#detailsContainer.active {
  transform: translateY(0);
}

#detailsWrapper.active {
  -moz-transition: 0.25s;
  -ms-transition: 0.25s;
  -o-transition: 0.25s;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

#detailsContainer .card {
  background-color: #fff;
  border: 2px solid #fff;
  height: 371px;
  margin: 20px 8px;
  position: relative;
}

#detailsContainer .card .activationButton {
  align-items: center;
  background-color: #0493c8;
  bottom: 0;
  display: flex;
  height: 40px;
  justify-content: center;
  margin: 8px;
  pointer-events: all;
  position: absolute;
  width: 284px;
}

#detailsContainer .card .activationButton .activationText {
  color: #fff;
  font-size: 20px;
}

#detailsContainer .card .detailsImage {
  background-size: 100%;
  height: 250px;
  width: 300px;
}

#detailsContainer .card .content {
  font-size: 18px;
}

#detailsContainer .telenor {
  border-color: #0493c8;
}

#detailsWrapper {
  pointer-events: none;
  will-change: transform;
}

