body[data-transitioning] #paginationBar {
  z-index: 11001;
}

.apps {
}

.apps > div.ad-page { /* Might just want to put !important on height instead */
  height: 100%;
  background-size: cover;
  z-index: 11000;
  display: block; /* Dont lazy load */
  transform: translateX(-1000px); /* Put off screen as start, will move into screen via grid.js */
}

#sponsorBanner {
  display: none;
  height: 80px;
}

.sponsored #sponsorBanner {
  display: block;
}

#summaryContainer {
  background-color: #fff;
  height: 100%;
  overflow-y: scroll;
  width: 100%;
}

.sponsored #summaryContainer {
  height: calc(100% - 80px);
}

#summaryContainer > .intro {
  align-items: center;
  background-image: url(images/grameenphoneHotbox320x160.png);
  height: 160px;
  justify-content: center;
  position: relative;
}

#summaryContainer > .intro p {
  font-size: 24px;
}

#summaryContainer > .intro > .points {
  color: #fff;
  margin: 0;
  padding-left: 12px;
  padding-top: 4px;
  text-align: left;
}

#summaryContainer > .intro > .info {
  left: 100px;
  position: absolute;
  top: 10px;
}

#summaryContainer > .intro > .info.clicked {
  opacity: 0.6;
}

#summaryContainer > .intro .fetchIcon {
  font-size: 24pt;
  margin: 0;
  position: absolute;
  right: 10px;
  top: 0;
}

#summaryContainer > .card {
  height: 105px;
  margin: 20px 10px;
  padding: 9px 10px 11px;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#summaryContainer > .card p {
  font-size: 15px;
  margin: 0 10px;
}

#summaryContainer > .advertisement {
  background-color: #fafafb;
}

#summaryContainer > .offer, .gift {
  background-color: #effcff;
}

#summaryContainer > .offer .summaryImage {
  border-color: #0493c8;
}

#summaryContainer .offer .summaryImage div {
  backface-visibility: hidden;
  background-size: 100%;
  height: 104px;
  position: absolute;
  width: 125px;
  will-change: transform;

  transition: all 0.8s;
}

#summaryContainer .offer .summaryImage .firstImage {
  transform: rotateY(0deg);
}

#summaryContainer .offer .summaryImage.flipped .firstImage {
  transform: rotateY(-180deg);
}

#summaryContainer .offer .summaryImage .secondImage {
  transform: rotateY(180deg);
}

#summaryContainer .offer .summaryImage.flipped .secondImage {
  transform: rotateY(0deg);
}

#summaryContainer .summaryImage {
  background-size: 100%;
  border: 2px solid #fff;
  height: 104px;
  position: relative;
  width: 125px;
}

#summaryContainer .summaryInfo {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 150px;
}

#summaryContainer .summaryInfo .summaryProvider {
  align-self: flex-end;
  font-size: 10px;
  font-weight: bold;
  margin-bottom: 1rem;
}

#summaryContainer > .card:nth-of-type(odd) .summaryImage {
  float: right;
}

#summaryContainer > .card:nth-of-type(odd) .summaryInfo {
  float: right;
}

#summaryContainer > .card:nth-of-type(even) .summaryImage {
  float: left;
}

#summaryContainer > .card:nth-of-type(even) .summaryInfo {
  float: left;
}

#summaryContainer > .card * {
  pointer-events: none;
}

#detailsContainer {
  align-items: center;
  background-color: rgba(48,48,48,0.9);
  display: flex;
  height: 100%;
  justify-content: center;
  overflow: hidden;
  position: absolute;
  top: 0px;
  transform: translateY(100%);
  width: 100%;
  z-index: 2;
}

#detailsContainer.active {
  transform: translateY(0);
}

#detailsContainer .card {
  background-color: #fff;
  border: 2px solid #fff;
  display: flex;
  flex-flow: row wrap;
  height: 400px;
  width: 300px;
  position: relative;
}

#detailsContainer .card .activationButton {
  align-self: flex-end;
  order: 4;
}

#detailsContainer .card .activationButton, .redeemContainer .redeemButtonsContainer {
  align-items: center;
  background-color: #0493c8;
  display: flex;
  height: 40px;
  justify-content: center;
  margin: 2%;
  padding: 0;
  width: 96%;
}

#detailsContainer .card .activationButton .buttonText {
  font-size: 20px;
  margin: 0;
}

#detailsContainer .card .closeButton {
  background: #464646;
  border: 2px solid #f5f5f5;
  border-radius: 50%;
  color:#f5f5f5;
  font-size: 16px;
  font-weight:bold;
  height: 25px;
  line-height: 25px;
  margin: 10px;
  position: absolute;
  right: 5px;
  text-align:center;
  text-decoration:none;
  top: -25px;
  z-index: 50;
  width: 25px;
}

#detailsContainer .card .closeButton p {
  margin: 0;
}

#detailsContainer .card .detailsImage {
  background-size: 100%;
  height: 250px;
  order: 1;
  width: 300px;
}

#detailsContainer .card .redeemContainer {
  background-color: rgba(255,255,255,0.75);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  width: 100%;
}

.redeemContainer .redeemConfirmText {
  font-size: 18px;
  padding: 20px 15px 10px;
}

.redeemContainer .redeemButtonsContainer, .redeemContainer .redeemConfirmText {
  background-color: #fff;
}

.redeemContainer .redeemButtonsContainer button{
  margin: 0 0.5rem;
}

#detailsContainer .cardDetails {
  font-weight: bold;
  margin: 0;
  margin-right: 10px;
  order: 2;
  text-align: right;
  width: 100%;
}

#detailsContainer .card .content {
  font-size: 18px;
  margin: 10px;
  order: 3;
  width: 100%;
}

#detailsContainer .offer {
  border-color: #00caf2;
  border-width: 4px;
}

